interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?series_id=T10Y2Y&api_key=REDACTED&file_type=json&sort_order=desc&limit=5
  response:
    body:
      string: '{"realtime_start":"2026-03-13","realtime_end":"2026-03-13","observation_start":"1600-01-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"desc","count":3,"offset":0,"limit":5,"observations":[{"realtime_start":"2026-03-13","realtime_end":"2026-03-13","date":"2026-03-12","value":"0.42"},{"realtime_start":"2026-03-13","realtime_end":"2026-03-13","date":"2026-03-11","value":"0.38"},{"realtime_start":"2026-03-13","realtime_end":"2026-03-13","date":"2026-03-10","value":"."}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
